@tailwind base;
@tailwind components;
@tailwind utilities;

.chatgpt-prompt-helper-panel-explain-link {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}

.chatgpt-prompt-helper-close-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}
